.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.reset-form {
  background-color: #d6d5d534;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reset-password-container h2 {
  color: #17252a;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.reset-form .MuiButton-root {
  background-color: #798787;
  color: #fff;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  text-transform: none;
}


