.all-course{
    width: 100%;
    height: 100%;
    min-height: 110vh;
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 254, 255, 0.696),rgb(219, 204, 215),rgb(252, 252, 252));
}
.all-crs-cnt1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:20 auto;
    max-width: 1250px;
    gap: 20px;
    padding: 20;

}
.all-crs-cnt1 .card{
  /* background-color: rgb(254, 230, 233); */
  box-shadow:  0 0 20 rgba(43, 40, 40, 0.747);
}
.all-crs-cnt1 .card{
    width: 100%;
    margin: auto;
    max-height:fit-content ;
}


.pages0 {
  font-size: 16px !important;
  color: rgb(131, 121, 110);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(151, 107, 10);
  border-radius: 5px;
}
.pagination0 {
  max-width: fit-content;
  margin:  auto;
  padding: 50px;
}
.pagination0 span {
  font-family: cursive;
  color: rgb(71, 63, 52);
}
.pages0:hover {
  border-bottom: 2px solid rgb(242, 60, 19);
  transform: scale(1.1);
  color: rgb(223, 194, 25);
  transition: 0.3s;
}




/* ----------------------responsive----------------------------- */

@media (max-width: 1401px) {
    
}

@media (max-width: 1201px) {
    
}

@media (max-width: 1253px) {


}

@media (max-width: 989px){
.all-crs-cnt1{
  grid-template-columns: repeat(2,1fr);
}

}

@media (max-width: 777px)  {



}

@media (max-width: 606px) {

  .all-crs-cnt1{
  grid-template-columns: repeat(1,1fr);
}
}