.add-course{
  margin: 150px auto;
  max-width: 1250px;
  padding: 20px;
}
.add-course-sct1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  backdrop-filter: blur(8px);
  width: 100%;
  background-color: rgba(184, 134, 134, 0.279);
  margin:    20px 0 0 ;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.add-sct1-cnt1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  border-right: 2px solid #470a0a;
}

.add-sct1-cnt2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 40px;
  
}

.textEditField {
  width: 80%;
}

.selectBox {
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}

#xBtn {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: rgb(188, 109, 109);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitBtn {
  margin: 25px auto;
  display: block;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width:800px) {
  .add-course-sct1 {
    grid-template-columns: repeat(1,1fr);
  }
  .add-sct1-cnt1 {
  padding: 40px;
  border-right: none;
  border-bottom: 2px solid #470a0a;
}

}

@media (max-width:500px) {
  
}

@media (max-width:500px) {
  
}