.lecture{
    max-width: 1250px;
    margin:  auto;
}
.lctr-sct1-cnt1{
    width: fit-content;
    margin: auto;
}
.lctr-sct1-cnt1 .cnt video{
  width: 100%;
  height: 100%;
  max-height: 80vh; 
  object-fit: contain; 
  border-radius: 20px;
}


video:fullscreen {
  width: auto !important;
  height: 100vh !important;
  object-fit: contain !important;
}
