.allLecture{
    /* background-color: #c0392b; */
    max-width: 1150px;
    padding: 20px;
    margin:150px auto 0;
    
}
.section2 {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(175, 162, 162);
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;

}

.section-box2 {
  color: #555;
  width: 100%;
}

/* Table */
.admin-table2 {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.admin-table2 th,
.admin-table2 td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.user-avatar2 {
  border-radius: 50%;
}

/* Status dot */
.status-dot2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-dot2.active {
  background-color: #2ecc71;
}

.status-dot2.inactive {
  background-color: #e74c3c;
}

/* Buttons */
.btn2 {
  text-transform: capitalize !important;
  font-size: 13px !important;
  padding: 6px 12px !important;
}

.btn2-active {
  background-color: #2ecc71 !important;
  color: #fff !important;
}

.btn2-active:hover {
  background-color: #27ae60 !important;
}

.btn2-inactive {
  background-color: #e74c3c !important;
  color: #fff !important;
}

.btn2-inactive:hover {
  background-color: #c0392b !important;
}


/* ----------------------dot-------- */
.btn2-approved {
  background-color: #4caf50 !important; /* Green */
  color: white;
}

.btn2-rejected {
  background-color: #f44336 !important; /* Red */
  color: white;
}

.btn2-pending {
  background-color: #ff9800 !important; /* Orange */
  color: white;
}

.status-dot2.pending-dot {
  background-color: #ff9800; /* Orange */
}
