.allCourse-sct1{
margin: 150px 0 0 0;
}
.allCourse-sct1-ctn1{
    /* background-color: aqua; */
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 20px;
}
              
.allCourse-sct1-ctn1 .card{
    margin: auto;
    width: 100%;
}

/* ================responsive=============================================== */


@media (max-width: 1253px) {
}

@media (max-width: 1201px) {
}

@media (max-width: 1113px) {
  .allCourse-sct1-ctn1{
    grid-template-columns: repeat(2,1fr);
  }
}


@media (max-width: 989px) {
}

@media (max-width: 777px) {
  
}

@media (max-width: 756px) {

 .allCourse-sct1-ctn1{
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 670px) {

}
