body {
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;     /* FIXED like you want */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("../../public/homeImg/bg10.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -20;         /* behind everything */
}


input[type="search"]:hover {
  border: none;
  outline: none;
}

input[type="search"]:focus {
  border: none;
  outline: none;
  box-shadow: none; 
}

input[type="search"]:active {
  border: none;
  outline: none;
}

.loading-course{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50;
  justify-content: center;
  margin-top: 20vh;
}
.loading-course .btn{
  max-width: 500px;
  margin:20px auto;
  background-color: rgb(93, 85, 85);
}
.btn-go-back{
  font-size: 30px !important;
}
.network-error{
  display: flex;
  text-align: center;
  font-size: 50;
  justify-content: center;
  margin-top: 20vh;
  color: red;
  text-shadow: 10 10 20 black;
  letter-spacing: 2;
  background-color: rgb(0, 255, 251);
  font-family: Impact, Haettenschweiler;
}


.title{
  font-size: 30px !important;
}

.price{
  color: green;
  
}


.purchased{
  text-decoration: line-through;
  margin: 0;
}
