.no-course{
    background: linear-gradient(rgb(255, 255, 255),rgba(230, 174, 174, 0.696),rgb(248, 192, 192),rgb(252, 252, 252));
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 85vh;
}
.no-course p{
    text-align: center;
    justify-content: center;
    margin-top: 35vh;
    font-size: 60;
    color: rgb(44, 11, 31);
    
    text-shadow:rgb(82, 76, 76) 20 20 20;
}


/* ----------------------------cnt1 -----------------------*/

.all-course-cnt-1{
    /* background-color: aqua; */
    display: grid;
    max-width: 1250px;
    margin:150px  auto;
    gap: 20;
    grid-template-columns: repeat(3,1fr);
}
.all-course-cnt-1 .card{
    margin:0 auto;
    width: 100%;
  max-height: fit-content;

}