.navbar {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(rgb(232, 152, 152),rgba(255, 255, 255, 0.304));
  background-color: rgb(240, 246, 252);
  box-shadow: 0 0 20 rgba(221, 216, 216, 0.582);
}
.navbar-cnt1 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: auto;
  max-width: 1250px;
  /* background-color: green; */
  height: 100%;
  align-items: center;
}
.navbar-cnt1 .nav-cnt1,.nav-cnt2{
  display: flex;
}
.navbar-cnt1 div{
  gap: 10;
}
.navbar input[type="search"] {
  padding: 15;
  height: 40;
  border-radius: 20;
  width: 35vw;
  border: none;
  background-color: rgba(189, 189, 189, 0.466);
  color: #000;
}
.navbar input[type="search"]::placeholder {
  color: #000;
}
.navbar select {
  border: none;
  background: none;
  border-radius: 15;text-align: center;
  border-top: 2px solid rgb(90, 9, 29);
  border-bottom: 2px solid rgb(177, 184, 199);
  padding:10 ;
  appearance: none; 
    font-size: 18px;
  text-align: center;
  /* padding:0 0 0 40 ; */
  text-transform: uppercase;
}

.navbar select option{
  background-color: rgba(203, 126, 211, 0.541);
  border: none;
  font-size: 12px;
  text-align: start;
  
}

.navbar button {
  background: none;
  font-size: 15;
  padding: 10;
  border: none;
  border-radius: 15;
  border-top: 2px solid rgb(90, 9, 29);
  border-bottom: 2px solid rgb(191, 171, 180);
  text-transform: uppercase;
}


.navbar button:hover {
  /* border: rgb(255, 255, 255) double; */
  background-color: #9f9f9f63;
  box-shadow: 0 0  20 rgb(255, 98, 171);;
  transform: scale(1.1);
  border-bottom: 2px solid rgb(173, 3, 17);
  border-top: 2px solid rgb(50, 5, 17);
}
.nav-cnt3{
  display: flex;
  gap: 20px;
}
/* .mbl{
} */
/* --------------------------responsive--------------------- */

@media (max-width: 1401px) {
    
}

@media (max-width: 1201px) {
    
}

@media (max-width: 1253px) {

}

@media (max-width: 989px){

}

@media (max-width: 617px)  {
.navbar select{
  display: none;
}

}

@media (max-width: 576px) {
    
}