.verify-otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.otp-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
