.select{
    width: 70%;
    position: relative;
    height: 75;
    
}
.select-button {
  width: 30%;
  padding: 12px;
  border: 1px solid  #e7e368;
  border-radius: 4px;
  background: none;  
  font-size: 16px;
  color: #ffffff;
  outline: none;
  transition: 0.3s ease-in-out;
  margin: 10px auto ;
  height: 60;
  left: 0;
  position: absolute;
}


/* On focus */
.select-button:focus {
  border-color: #e7e368 !important; 
  background-color: white;
}

/* Hover */
.select-button:hover {
  background-color: #827f7f48;
}




.select-button option {
  color: #f9f3f3;            
  background-color: #4a49499f;
  padding: 8px;          
  font-size: 14px;          
}

.select-button option:checked {
  color: #ffffff;
  background-color: #3aafa9;
}
