@media (max-width: 1401px) {
    
}

@media (max-width: 1201px) {
    
}

@media (max-width: 1253px) {


}

@media (max-width: 989px){


}

@media (max-width: 777px)  {



}

@media (max-width: 606px) {

}